<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../views/contact.css">
</head>

<body>
    <div class="container">
        <div class="nav">
            <div class="logo">
                <img src="Cricket logo.jpg" alt="">
            </div>
            <ul>
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/About">
                    <li>About Us</li>
                </a>
                <a href="/Info">
                    <li>Info</li>
                </a>
                <a href="/contact">
                    <li>Contact us</li>
                </a>
            </ul>
        </div>
        <div class="credentialsheading">
            <h1>Fill Your details</h1>
        </div>
        <div class="credentials">
            <form method="post">
                <input type="text" placeholder="Enter your Name" id="name" name="name"><br>
                <input type="text" placeholder="Enter your Age" id="age" name="age"><br>
                <input type="text" placeholder="Enter your City" id="city" name="city"><br>
                <input type="text" placeholder="Enter your Mobile Number" id="phone" name="number"><br>
                
                <button class="btn" >Submit </button> 
            </form>

        </div>
        

    </div>

</body>

</html>
