<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../views/home.css">
    
</head>
<body>
    <div class="main">
        <div class="con">
            
            <div class="nav">
                <div class="logo">
                    <img src="Cricket logo.jpg" alt="">
                </div>
                <ul>
                   <a href="/"> <li>Home</li></a>
                   <a href="/About"> <li>About Us</li></a>
                   <a href="/Info"> <li>Info</li></a>
                   <a href="/contact"> <li>Contact us</li></a>
                </ul>
            </div>
            <!-- <img src="images.jpeg" alt=""> -->
            <div class="text">
                Powering the<br>
                Recreational Game
            </div>
            <div class="para">
                Whether you're an administrator at board level or a player on the field, Play-Cricket is the only free online tool you need to manage the game and access all the latest scores and stats.
            </div>
            <div class="anotherpara">
                Has this summer inspired you or your children to get into cricket? If so, you'll find everything you need to find the opportunity for you right here on Play-Cricket.com. Head below to Find a Club and scroll down for more information on how PlayCricket can help you on your journey.
            </div>
            <button class="bttn"> Sighn Up</button>
        </div>
    </div>

    
</body>
</html>